/*==================== GOOGLE FONTS ==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== COLORS VARIABLES ======================*/
:root{
  --bgd-color: #d6d6d6;
  --hover-clr: #6a55d6;
  --firs-color:#5A43CB;
  --sencond-clr: #BB000E; 
  --rd-clr: #0c8d2c;

  /* ================ MARGIN VARIABLES =========== */
  --mrg-st-1-0: 0.625rem;
  --mrg-mid-15: .9375rem;
  --mrgn-nd-2-0: 1.25rem;
  --page-mrgn: 0 auto; 

  /* ================ FONT-SIZE'S =========== */
  --big-fs-3-2: 2rem;
  --fs-2-4: 1.5rem;
  --fs-2-0: 1.25rem;
  --fs-1-8: 1.125rem;
  --normal-fs-1-6: 1rem;
  --fs-3-6: 2.25rem;
  --fs-small-first-1-0: .625rem;
  --fs-small-second-0-5: .3125rem;

/* =================== PAGE SIZE'S ================ */
--page-size-1-2-00: 75rem; /*section-page-size*/
--sect-tit-font-2-0: 1.25rem;
--sect-subt-font-1-7: 1.0625rem;

/* ================== botton height ================ */
--h-5-0: 3.125rem;
}

/*============= R E S E T =====================*/
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 }
 
body{
  background-color: var(--bgd-color);
}

.section{
  margin-top: 4rem;
}

.section__title{
  color: #707070;
  font-size: var(--fs-3-6);
  text-align: center;
}

.section__subtitle{
  color: #707070;
  font-size: var(--fs-2-0);
  text-align: center;
  margin-bottom: 3rem;
}


/* ================== H E A D E R =========================== */
.nav__content{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
} 

.nav__list{
  display: flex;
  list-style: none;
  justify-content: end;
  flex-wrap: wrap;
 }

.nav__item{
  margin-left: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
 }

.nav__name{
  color: #000;
  padding: .625rem;
}

.nav__name:hover{
  background-color: var(--firs-color);
  color: #fff;
  border-radius: 10px;
}

/* --------------------- MOBILE AND TABLET ---------------- */
@media screen and (max-width: 47.5rem) {
    .header{
      background-color: var(--firs-color);
    }
    .nav__list{
      display: block;
    }
    .nav__item{
      margin-top: 1rem;
     }
}


/* ==================== I N T R O D U C E R ================= */
.introducer__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
}

.introducer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.introducer__social-midia{
  text-align: end;
}

.introducer__description{
  font-size: 3.5rem;
  margin-bottom: 1.125rem;
  padding: .625rem;
}

.sub__line{
  cursor: pointer;
  color:#BB000E;
}

.sub__line:hover{
  color:var(--firs-color);
}

.sub__line::after{
  content: '';
  display: flex;
  width: 23rem;
  height: 2px;
  margin-left: 7rem;
  margin-top: -8px;
  background-color: #BB000E;
}

.small-description{
  font-size: 1.5rem;
  padding: .625rem;
}

.photo{
  width: auto;
  height: 30rem;
}

.introducer__image{
  width: auto;
  height: 30rem;
  background: #e49d19;
  border-radius: 36% 64% 26% 74% / 65% 33% 67% 35% ;
  overflow: hidden;
  padding: .625rem;
  transition: .5s ease;
}

.introducer__image:hover{
  border-radius: 50% 50% 66% 34% / 47% 43% 57% 53% ;
}

.introducer__social-midia{
  font-size: 2rem;
  padding: .625rem;
}

.midia__link{
  color: var(--firs-color);
}

.midia__link:hover{
  color: var(--hover-clr);
}

.introducer__contact-botton{
  width: 180px;
  height: var(--h-5-0);
  background-color: var(--firs-color);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--big-fs-3-2);
}

.botton__contact-me{
  color: #fff;
  font-size: var(--fs-2-0);
}

.introducer__contact-botton:hover{
  background-color: var(--hover-clr);
}

/* --------------------- MOBILE AND TABLET INTRODUCER ---------------- */
@media screen and (max-width: 47.5rem) {
  .introducer__content{
    flex-direction: column-reverse;
    margin: auto .625rem;
  }

  .sms{
    display: none;
  }

  .introducer__description{
    text-align: center;
    font-size: 2rem;
  }

  .sub__line::after{
    display: none;
  }


  .small-description{
    padding: .625rem;
  }

  .introducer__contact-botton{
    width: 150px;
    height: 40px;
  }

  .botton__contact-me{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
  }

  .introducer__social-midia{
    display: none;
  }

  .midia__link{
    margin-left: .9375rem;
  }
}


/* ================== A B O U T - ME ======================= */
.about__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.spa{
  color: var(--firs-color);
}

.about__my-profile{
  width: 25rem;
  display: flex;
  margin-bottom: 1rem;
  padding: .625rem;
}

.about__photo{
  width: 100%;
  height: auto;
  border-left: 4px solid red;
}

.about__data__container{
  display: inline-block;
  flex-wrap: wrap;
  font-size: 1.3rem;
  text-align: justify;
}


.about__btn-link{
  width: 190px;
  height: var(--h-5-0);
  background-color: var(--firs-color);
  color: #fff;
  font-size: var(--fs-2-0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto auto 5rem;
  border-radius: .5rem;
}

.about__btn-icone{
  color: #fff;
  font-size: var(--fs-2-0);
}
 
.about__btn-icone{
  margin-left:10px;
  font-size: 1.3rem;
}

/* ---------------- M O B I L E AND TABLET ---------------- */
@media screen and (max-width: 47.5rem){
  .about__data__container{
    text-align: justify;
    padding: 1.25rem;
  }

  .about__photo{
    width: 90%;
  }

  .about__btn{
    width: 190px;
    height: 40px;
    font-weight: 600;
  }

  .about__btn_-link{
    font-size: 1rem;
  }
}

/* =========== E D U C A T I O N ================ */
.education__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
}

.education__cards{
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 15.625rem;
  height: 18.75rem;
  background-color: #555;
  color: #fff;
  margin: .625rem;
  padding-right: 10px;
  perspective: 1000px;
}

.backend{
  background-color: var(--firs-color);
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  transition: .5s;
}

.card:hover .backend{
  transform: rotateY(180deg);
  cursor: pointer;
}

.front__1, .side__1,
.front__2, .side__2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  backface-visibility: hidden;
}

.side__1, .side__2{
  transform: rotateY(180deg);
}

.card__icone{
  font-size: 5rem;
}

.title__card-5{
  font-size: 20px;
  margin-top: 0;
}

.title__card{
  font-size: 2rem;
}


/* ==================== S K I L L S ================= */
.skills__title{
  text-align: center;
  color: #707070;
  
}

.skills__subtitle{
  text-align: center;
  color: #707070;
}

.skills__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
}

.skills__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
  flex-wrap: wrap;
}

.skill__list{
  margin-left: 1.25rem;
  flex-wrap: wrap;
}

.skill__container{
  display: block;
  align-items: center;
  margin-bottom: 30px;
  width: 31.25rem;
}


.skill__title{
  font-size: medium;
}

.skill__head{
  display: flex;
  justify-content: space-between;
}

.skill__percentage-content, 
.skill__percentage{
  height: 7px;
  border-radius: .25px;
}

.skill__percentage-content{
  background-color: var(--sencond-clr);
}

.skill__percentage{
  display: flex;
  background-color: var(--rd-clr);
}


.skill__bootstrap{
  width: 40%;
}

.skill__github{
  width: 40%;
}

.skill__figma{
  width: 46%;
}

.skill__photoshop{
  width: 48%;
}

.skill__office{
  width: 72%;
}

.skill__vegas{
  width: 49%;
}

.skill__wordpress{
  width: 68%;
}

.skill__api{
  width: 35%;
}

/* ---------------- M O B I L E AND TABLET ---------------- */
@media screen and (max-width: 47.5rem){
  .education__cards{
    justify-content: center; 
  }

  .skills__content{
    justify-content: center;
  }

  .skill__container{
    width: 24rem;
  }
}


/* ===============E X P E R I E N C E ==================== */
.experience__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
}

.experience__content{
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: justify;
}

.experience__list-1, 
.experience__list-2{
  list-style: none;
  line-height: 3;
  margin-left: 1.25rem;
}

.experience__item::before{
  content: '';
  width: .625rem;
  height: .625rem;
  display: inline-block;
  background-color: var(--firs-color);
  border-radius: 50%;
  margin-right: 5px;
}

/* ---------------- M O B I L E AND TABLET---------------- */
@media screen and (max-width: 47.5rem){
  .experience__container{
    margin: auto 1.25rem;
  }

  .experience__content{
    flex-wrap: wrap;
    text-align: justify;
  }
}

/*==================== P R O J E T O S ======================*/

.profile__github__container{
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}

.perfil__general{
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #555;
}

.img__github__api{
  width: 150px;
  border-radius: 50%;
}

.profile__github__title{
  text-align: end;
  margin-right: 10rem;
}

.github__btn{
  background-color: var(--firs-color);
  border: none;
  width: 500px;
  font-size: 1rem;
}

.btn__github{
  color: #fff;
}



/*==================== CONTACT ======================*/
.roll_subir{
  text-align: end;
  cursor: pointer;
}

.subir{
  color: var(--firs-color);
  font-size: 3rem;
}

.roll_subir:hover{
  transform: translateY(-10px);
  transition: .6s;
}

.footer__section{
  background-color: #000;
  margin-top: 4rem;
}

.contact__container{
  max-width: var(--page-size-1-2-00);
  margin: var(--page-mrgn);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px 60px;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.contact{
    color: white;
    line-height: 30px;
    text-align: center;
    font-style: italic;
}

  
  /* ---------------- M O B I L E AND TABLET---------------- */
@media screen and (max-width: 47.5rem){
  .contact{
    margin-right: .625rem;
  }

}

/*========================== RODAPÉ =======================*/
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: #444;
}

.contact__social-midia{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: .625rem;
  align-items: center;
  justify-content: center;
}

.footer__{
  color: #fff;
}
.contact__link{
  color: var(--firs-color);
}

.contact__link:hover{
  color: var(--sencond-clr);
}